<div class="card">
  <div class="card-header">
    Task Info
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= task.task_name %> </h5>
    <p class="card-text">
      Task ID: <%= task.id %></br>
      Task Description: <%= task.task_description %></br>
      Date Created: <%= task.created_at %></br>
      Task Deadline: <%= task.deadline %>
    </p>
    <%= link_to "Back", category_tasks_path, class: "btn btn-outline-secondary" %>
  </div>
</div>