<p> Task ID: <%= task.id %> </p>
</br>
<p> Task: <%= task.task_name %> </p>
</br>
<p> Task Description: <%= task.task_description %> </p>
</br>
<p> Task Created: <%= task.created_at %> </p>

<%= link_to 'Back', category_tasks_path %>