<p>Tasks:</p>

<tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.task_name %> </td> 
      <%= link_to 'View Task', category_task_path(task.category_id, task.id) %> 
      <%= link_to 'Edit Task', edit_category_task_path(task.category_id, task.id) %> 
      <%= link_to 'Delete Task', category_task_path(task.category_id, task.id), method: :delete, data: { confirm: "Are you sure?" } %> 
      </br>
    <tr>

  <% end %>

<%= link_to 'Add New Task', new_category_task_path(@category) %>
</br>
<%= link_to 'Back', categories_path %>