<div class="categories-container">
<h1> Journal App </h1>

<%= link_to "Create new", new_category_path %>

<p>Categories:</p>

<tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %> </td> 
      <%= link_to "View", category_path(category), method: :get %> 
      <%= link_to "Edit", edit_category_path(category.id) %> 
      <%= link_to "Delete", category_path(category.id), method: :delete, data: { confirm: "Are you sure?"} %> 
      <%= link_to "View Tasks", category_tasks_path(category.id)  %> 
    <tr>

    <% end %>
</div>